---
layout: landing
title: Obsługa księgowa, rozliczenia firm, księgowość Warszawa
excerpt: Księgowa Warszawa, obsługa księgowa firm Warszawa, księgowy Warszawa, usługi księgowe Warszawa, rozliczenia firm Warszawa
---

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>{{ site.title }}</h2>
        <p>{{ site.description | markdownify }}</p>
        <ul class="icons">
            {% for socloc in site.social %}
            {% if socloc[1] %}
            {% if socloc[0] == 'email' %}
            <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
            ><span class="label">E-mail</span></a></li>
            {% else %}
            <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
            ><span class="label">{{ socloc[0] }}</span></a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <a href="#wartosci" class="more scrolly">Dowiedz się więcej</a>
</section>

<!-- WARTOSCI -->
<section id="wartosci" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Wartości</h2>
            <p>... czyli powody dla których warto ze mną współpracować.</p>
        </header>
        <section>
            <div class="row uniform">
                <div class="4u 12u$(small)">
                    <img class="image spacing" src="images/icons2/fakty.png" alt=""/>
                    <h3>Fakty</h3>
                    <p class="box no-border">Moja praca jest zawsze umocowana w faktach. Dla każdego z klientów
                        przeprowadzam <strong>analizę profilu biznesowego</strong> w oparciu o dostarczoną dokumentację.
                    </p>
                </div>
                <div class="4u 12u$(small)">
                    <img class="image spacing" src="images/icons2/rzetelnosc.png" alt=""/>
                    <h3>Kwalifikacje</h3>
                    <p class="box no-border">Wykonuje swoją pracę rzetelnie oraz zgodnie z obecnie obowiązującymi
                        regulacjami 
                        prawnymi. Potwierdza to posiadany przez mnie tytuł <strong>Biegłego Rewidenta</strong> wydany
                        przez <strong>Polską Izbę Biegłych Rewidentów (numer wpisu: 13653). </strong></p>
                </div>
                <div class="4u$ 12u$(small)">
                    <img class="image spacing" src="images/icons2/rozwoj.png" alt=""/>
                    <h3>Rozwój</h3>
                    <p class="box no-border">Dokładam wszelkich starań aby optymalizacja finansów przedsiębiorstwa
                        moich klientów
                        <strong>generowała dodatkowe środki</strong> na rozwój ich biznesu.</p>
                </div>
            </div>
        </section>
        <section>
            <div class="row uniform">
                <div class="4u 12u$(small)">
                    <img class="image spacing" src="images/icons2/komunikacja.png" alt=""/>
                    <h3>Komunikacja</h3>
                    <p class="box no-border">Istotny jest dla mnie bezpośredni dialog z klientem. Jest on podstawą
                        współpracy,
                        zarówno przy ustalaniu potrzeb oraz oczekiwań jak i rozwiązywania bieżących problemów
                        klienta.</p>
                </div>
                <div class="4u 12u$(small)">
                    <img class="image spacing" src="images/icons2/terminowosc.png" alt=""/>
                    <h3>Terminowość</h3>
                    <p class="box no-border">Przy współpracy ze swoimi klientami przejmuję formalności związane z
                        obsługą finansów
                        ich biznesu, dbając o to aby wszystkie były wykonane w odpowiednim terminie.</p>
                </div>
                <div class="4u 12u$(small)">
                    <img class="image spacing" src="images/icons2/bezpieczenstwo.png" alt=""/>
                    <h3>Bezpieczeństwo</h3>
                    <p class="box no-border">Posiadam <strong>ubezpieczenie od odpowiedzialności cywilnej</strong> z
                        tytułu świadczonych
                        usług, aby zapewnić bezpieczeństwo finansów moich klientów.</p>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- O MNIE -->
<section id="omnie" class="wrapper style3 special">
    <div class="inner">
        <header class="major" style="margin-bottom:2em">
            <h2>O mnie</h2>
        </header>
        <p><img src="images/fotoaa.png" alt=""/></p>
        <div class="row uniform">
            <div class="12u 12u$(small)">
                <p class="align-left no-padding-after" style="margin-top:1em">Szanowni Państwo,</p>
                <p class="align-justify text-indent">
                    Moja droga zawodowa od wielu lat związana jest z branżą finansowo-księgową.
                    Przez ten czas miałem przyjemność współpracować  z przedsiębiorstwami o zróżnicowanej skali działalności
                    jak i operujących w odmiennych branżach. Moje doświadczenie na stanowisku kontrolera
                    finansowego pozwala mi spojrzeć na księgowość i finanse przedsiębiorstwa w szerszym
                    kontekście jego działalności biznesowej. Dotychczasowe doświadczenie z powodzeniem
                    wykorzystuję przy świadczeniu najlepszej jakości usług swoim klientom.
                    Jestem Biegłym Rewidenten w Polskiej Izbie Biegłych Rewidentów (numer wpisu 13653).
                </p>
                <p class="align-jestify">
                    <strong>Moim celem jest kreatywne wsparcie klientów w prowadzeniu ich biznesu.</strong>
                </p>
                <p class="align-center">
                    <strong><i>Skup się na biznesie, a ja zajmę się formalnościami!</i></strong>
                </p>

                <p class="align-center" style="float:right;">
                        Z poważaniem,<br><img src="images/signature.png" alt="" style="width:15em;"/>

                </p>
            </div>
        </div>
        <div class="row uniform" style="margin-top:1em;font-size:0.7em;line-height:1.7em;">
            <div class="3u 12u$(small)">
                <img class="image " src="images/brands/sggw.png" alt=""/>
                <p class="">Absolwent <br>Szkoły Głównej Gospodarstwa Wiejskiego na kierunku Finanse i Rachunkowość (spec. rachunkowość przedsiębiorstw)</p>
            </div>
            <div class="3u 12u$(small)">
                <img class="image" src="images/brands/ck.png" alt=""/>
                <p class="">Posiadacz Certyfikatu Księgowego wydanego przez Ministra Finansów (63154/2013)</p>
            </div>
            <div class="3u 12u$(small)">
                <img class="image" src="images/brands/PIBRa.png" style="max-width: 128px;height: auto;" alt=""/>
                <p class="">Biegły Rewident <br>w Polskiej Izbie Biegłych Rewidentów (numer wpisu 13653)</p>
            </div>
            <div class="3u 12u$(small)">
                <img class="image" src="images/brands/sk.png" alt=""/>
                <p class="">Członek <br>Stowarzyszenia Księgowych w Polsce</p>
            </div>
        </div>
    </div>
</section>

<!-- USŁUGI -->
<section id="uslugi" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>Usługi</h2>
            <p class="align-center">
                Jako profesjonalista swoją ofertę zawszę dopasowuje do potrzeb klienta, jednakże poniżej można znaleźć
                podstawowy zakres świadczonych przeze mnie usług.
            </p>
            <p class="align-center">
                Wszystkie usługi świadczone są zarówno w języku polskim jak i angielskim.
            </p>
        </header>
        <div class="row uniform align-left">
            <div class="6u 12u$(small)">
                <h4>Usługi księgowe</h4>
                <ul class="alt small">
                    <li>Prowadzenie Podatkowej Księgi Przychodów i Rozchodów</li>
                    <li>Prowadzenie Ksiąg Handlowych</li>
                    <li>Kontrola dokumentów pod względem formalno-rachunkowym</li>
                    <li>Prowadzenie Ewidencji VAT</li>
                    <li>Prowadzenie Ewidencji Środków Trwałych i Wyposażenia</li>
                    <li>Prowadzenie Ewidencji Przychodów dla ryczałtu</li>
                    <li>Sporządzanie deklaracji podatkowych</li>
                    <li>Weryfikacja KPiR, Ksiąg Handlowych, ewidencji VAT oraz deklaracji
                        podatkowych
                    </li>
                    <li>Reprezentowanie klienta przed Urzędem Skarbowym</li>
                    <li>Sporządzanie sprawozdań statystycznych do GUS i NBP</li>
                </ul>
            </div>
            <div class="6u 12u$(small)">
                <h4>Obsługa kadrowo-płacowa</h4>
                <ul class="alt small">
                    <li>Sporządzanie listy płac</li>
                    <li>Sporządzanie deklaracji dla ZUS</li>
                    <li>Prowadzenie dokumentacji kadrowej</li>
                    <li>Weryfikacja deklaracji ZUS</li>
                    <li>Reprezentowanie klienta przed Zakładem Ubezpieczeń Społecznych</li>
                    <li>Sporządzanie dokumentów płatniczych dla ZUS</li>
                </ul>
                <h4>Pozostałe usługi</h4>
                <ul class="alt small">
                    <li>Konsultacje w zakresie prawa podatkowego</li>
                    <li>Sporządzenie deklaracji rocznej</li>
                    <li>Wyprowadzanie zaległości księgowych</li>
                    <li>Wsparcie przy rozpoczęciu działalności</li>
                    <li>Aplikacja do wystawiania faktur (bezpłatna dla klientów)</li>
                </ul>

            </div>
        </div>
        <br>

    </div>
</section>
<section id="cennik" class="wrapper style5 special">
    <div class="inner">
        <header class="major">
            <h2>Cennik</h2>
            <p class="align-center">Przykładowe ceny NETTO. Ceny uzależnione są od indywidualnych ustaleń co do zakresu
                prac i ilości dokumentów.</p>
        </header>
        <h4>Usługi księgowe</h4>
        <div class="table-wrapper small align-left">
            <table class="small">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Miesięczne rozliczenie działalności gospodarczej (bez pracowników)</td>
                    <td>od 300 zł</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h4>Płace</h4>
        <div class="table-wrapper small align-left">
            <table class="small">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Umowa o pracę 
                        <br>Umowa zlecenie
                        <br>Umowa o dzieło
                        <br>Inna umowa cywilno-prawna </td>
                    <td>
                        <br> <br> 60,00 zł/osoba na miesiąc</td>
                </tr>
                <tr>
                    <td>Umowa zlecenie osoby podlegającej obowiązkowemu ubezpieczeniu emerytalno-rentowemu</td>
                    <td>60,00 zł/osoba na miesiąc (wypłatę)</td>
                </tr>
                <tr>
                    <td>Umowa o dzieło</td>
                    <td>60,00 zł/osoba na miesiąc (wypłatę)</td>
                </tr>
                <tr>
                    <td>Inna umowa cywilno-prawna</td>
                    <td>60,00 zł/osoba na miesiąc (wypłatę)</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h4>Pozostałe usługi</h4>
        <div class="table-wrapper small align-left">
            <table class="small">
                <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Wsparcie przy rozpoczęciu działalności gospodarczej</td>
                    <td>Gratis <strong><sup>*</sup></strong></td>
                </tr>
                <tr>
                    <td>Weryfikacja rozliczeń z poprzednich okresów</td>
                    <td>Ustalane indywidualnie</td>
                </tr>
                </tbody>
            </table>
            <p class="align-center small" style="font-size:0.9em;"><strong><sup>*</sup></strong> Usługa gratis dla firm, które skorzystają również z
                innych usług.</p>
        </div>
    </div>
</section>

<!-- KONTAKT -->
<section id="kontakt" class="wrapper style1 special">
    <div class="inner">

        <header class="major">
            <h2>Kontakt</h2>
            <p class="align-center">
                Zapraszam do kontaktu ze mną. <br>Wystarczy skorzystać z poniższego
                formularza, bądź bezpośrednich danych kontaktowych.
            </p>
        </header>
        <div class="row uniform vertical">
            <div class="4u 12u$(small)">
                <ul style="list-style: none; padding-left: 0; padding-bottom: 2em">
                <h5>Dane kontaktowe</h5>
                <p class="align-center"></p>
                    <li style="padding-left:0">Michał Zalewski</li>
                    <li style="padding-left:0"><a href="tel:+48501102650">+48 501-102-650</a></li>
                    <li style="padding-left:0"><a href="mailto:kontakt@michalzalewski.pl">kontakt@michalzalewski.pl</a></li>
                </ul>
            </div>
            <div class="8u 12u$(small)" id="contact-form">
                <form method="post" action="https://formspree.io/kontakt@michalzalewski.pl" method="POST">
                    <div class="row uniform">
                        <div class="6u 12u$(xsmall)">
                            <input type="text" name="name" id="form-name" value="" placeholder="Imię"/>
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input type="email" name="email" id="form-email" value="" placeholder="Email"/>
                        </div>

                        <div class="12u$">
                            <textarea name="demo-message" id="demo-message" placeholder="Wprowadź swoją wiadomość."
                              rows="4"></textarea>
                        </div>
                        <div class="12u$">
                            <ul class="actions">
                                <li><input type="submit" value="Wyślij" class="special"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="wrapper style2 special">
    <div class="inner">
        <div class="row uniform">
            <div class="12u 12u$(small)">
                <h1 style="font-size: 1.5em">Biuro Rachunkowe Zalewski</h1><br>
                </div>
        </div>
        <div class="row uniform">
            <div class="6u 12u$(small)">
                <h4>Dane firmy</h4>
                <ul style="list-style: none; padding-left: 0; padding-bottom: 2em">
                    <li>ARES Michał Zalewski</li>
                    <li>NIP: 952-186-88-69</li>
                    <li>REGON: 362806146</li>
                </ul>
            </div>

            <div class="6u 12u$(small)">
                <h4>Lokalizacja - adres</h4>
                <ul style="list-style: none; padding-left: 0; padding-bottom: 2em">
                    <li>Waraszawa Bemowo</li>
                    <li>ul. Czumy 4/33</li>
                    <li>01-355 Warszawa</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- MAPA --->
<section id="map">
    <iframe style="pointer-events: none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.380411531696!2d20.910156116049794!3d52.23647367976147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecb1faacccc7f%3A0x6664d0129470a4be!2sCzumy+4%2C+01-355+Warszawa!5e0!3m2!1sen!2spl!4v1470493886847"
            width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
