<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html"><img class="image" src="images/brands/zalewski.png" style="height:100%;"/></a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#wartosci" class="scrolly"><span>Wartości</span></a>
      </li>
      <li class="special">
        <a href="#omnie" class="scrolly"><span>O mnie</span></a>
      </li>
      <li class="special">
        <a href="#uslugi" class="scrolly"><span>Usługi</span></a>
      </li>
      <li class="special">
        <a href="#cennik" class="scrolly"><span>Cennik</span></a>
      </li>
      <li class="special">
        <a href="#kontakt" class="scrolly"><span>Kontakt</span></a>
      </li>
    </ul>
  </nav>
</header>
