<!-- Scripts -->
<!--<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>-->
<script   src="https://code.jquery.com/jquery-3.1.0.slim.min.js"   integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="   crossorigin="anonymous"></script>
<script src="{{ "/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
